body {
    background-color: #000000;
    height: 100px;
}

/* @font-face {
    font-family: Montserrat;
    src: url('/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf'),
        url('/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: Montserrat;
    src: url('../font/Montserrat-VariableFont_wght.ttf');
  }

nav a {
    text-decoration: none;
    color: #FBCC97;
    font-family: Montserrat;
    font-size: 14px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

    color: #FBCC97;
}

.navbar #logo {
    margin-top: 30px;
    margin-bottom: -30px;
}

.navbar .navlinks {
    margin-top: 70px;

}

.navbar .user img {
    width: 51px;
    height: 51px;
    margin-bottom: -14px;


}

.navbar .user {
    color: white;
    margin-top: 44px;
}

.navbar img {
    width: 150px;
    height: 150px;
}

.lol {
    height: 6vh;
    width: 180px;
    color: #FBCC97;
    background-color: #000000;
    border: 1px #FBCC97 solid;
    font-size: 14px;
    margin-top: 58px;


    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

.lol:hover {
    background-color: #FBCC97;
    color: #000000;
}

.lol::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff, transparent);
    transition: left 0.5s, background-color 0.5s, color 0.5s;

}

.lol:hover::before {
    left: 100%;
}


/* .navbar input:hover {

    color: #000000;
    background-color: #FBCC97;
    border: 1px #FBCC97 solid;
    transition-duration: 0.3s;


} */

.navlinks {
    display: inline-block;
    position: relative;
    width: 90px;
    align-items: center;
    align-content: center;
    text-align: center;


    margin-bottom: 29px;
}

.navlinks::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333333;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navlinks:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

}