* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  top: 180px;
  width: 99vw;
  height: 526px;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;


}

.slideshow-container img {
  width: 100%;
  height: 526px;

  object-fit: cover;
  object-position: center top;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

  z-index: 3;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  z-index: 10;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.captext {
  color: white;
  font-size: 20.3333333px;
  font-weight: 600;
  padding-bottom: 100px;
  padding: 30px;
  position: absolute;
  bottom: 0px;
  width: 95.8%;
  text-align: right;
  font-family: Castellar;
  text-shadow: 2px 2px 6px black;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  opacity: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* tab */
.audience {
  margin-top: 560px;
  background-image: url(../image/redseat.jpg);
  /* background-position: 0 70%; */
  background-size: auto;
  height: 200px;
  width: auto;
}

.tabSection {
  /* margin-top: 570px; */
  margin-top: 10px;

  color: white;

  padding-bottom: 100px;
}

.tablinks {
  color: white;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #fbcc97;
  color: white;
  /* background-color: #f1f1f1; */

  margin-left: auto;
  margin-right: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid #fbcc97;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;

  font-family: Montserrat;
  font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fbcc97;
  color: black;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fbcc97;
  color: black;
  border: 1px solid #fbcc97;
}

/* Style the tab content */
.tabcontent {
  /* display: none; */
  padding: 6px 12px;
  margin-left: auto;
  margin-right: auto;

  color: white;
  /* border: 1px solid #FBCC97; */
  border-top: none;

  height: fit-content;
  width: fit-content;
}

.tabItems {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: fit-content;
}

.tabcontent h3 {
  font-family: Aoboshi One;
  font-size: 30px;
}

.tabcontent p {
  color: white;
}

.nowshowingform {
  display: flex;
  flex-direction: row;
}

.nowshowingform select {
  width: 16%;
  height: 100%;
  background-color: black;
  border: 1px solid #fbcc97;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: 10px; */
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.nowshowingform p {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 14px;
}

.nowshowingform .shift {
  margin-left: 10px;
}

.movieContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  /* Adjust the width as needed */
  row-gap: 60px;
  column-gap: 150px;
  margin-right: 100px;
  width: 80vw;
  padding-right: 100px;
  height: auto;

}

.movie {
  width: 300px;
  height: 500px;
  background-color: black;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border: 1px solid #fbcc97;
  border-bottom: none;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
  font-size: 10px;
  border: 1px solid #fbcc97;
  border-top: none;
  height: 120px;


}

.movieInfo p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fbcc97;
  padding-bottom: 5px;
}

.movieInfo .title {
  font-family: Montserrat;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* about us */
.aboutus,
.cafeandbar {
  background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.9)),
    url(../image/lines.svg);
  background-color: black;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  /* filter: brightness(10%); */
  height: 80vh;
  width: auto;

  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 20vw;
}

.aboutus img {
  height: 66vh;
  width: 18vw;
  object-fit: cover;
  padding-left: 20px;
  padding-top: 100px;
}

.aboutus .glassimg {
  height: 72vh;
}

.aboutus .bathimg {}

.aboutuscontent {
  display: flex;
  flex-direction: column;

  margin-top: 100px;

  font-family: Montserrat;
  font-size: 36px;

  padding-left: 30px;
  padding-top: 40px;
}

.aboutuscontent p {
  font-size: 14px;
  margin-right: 400px;
  margin-top: -30px;
}

.cafeandbar {
  margin-left: -300px;
  padding-left: 550px;
  padding-right: 550px;

  background-position: 60%;
}

.cafeandbar img {
  height: 66vh;
  width: 18vw;
  object-fit: cover;
  padding-left: 20px;
  padding-top: 100px;
}

.cafeandbarcontent {
  font-family: Montserrat;
  font-size: 36px;

  margin-left: -80px;
  padding-left: 100px;
  padding-right: 100px;

  justify-content: center;
}

.cafeandbarcontent p,
h1 {
  padding-top: 130px;
  /* margin-left: -100px; */
}

.cafeandbarcontent p {
  margin-top: -150px;
  font-size: 14px;
  width: 300px;
}

.cafeandbar #cafek {
  margin-right: -50px;
}

.lounge {
  background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.9)),
    url(../image/lines.svg);
  background-color: black;
  background-size: cover;
  background-position: 90%;
  background-attachment: fixed;
  /* filter: brightness(10%); */
  height: 80vh;
  width: auto;

  color: white;
}

.loungesection {
  display: flex;

  flex-direction: row;
  justify-content: center;

  margin-left: 270px;
  margin-right: 270px;
  width: 1000px;
  padding-top: 100px;
}

.lounge img {
  height: 57vh;
  width: 67vw;
}

.loungecontent {
  display: flex;
  flex-direction: column;

  margin-top: -40px;
  padding-left: 20px;
  font-family: Montserrat;
}

.loungecontent p {
  margin-top: -30px;
  font-size: 14px;
}

.loungecontent h1 {
  font-size: 60px;
}

#fastBookingPopup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#fastBookingPopup .FB_Card {
  background-color: black;
  width: 30%;
  min-width: 482px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

#fastBookingPopup .FB_Card .FB_close {
  position: relative;
  width: fit-content;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}

.FB_title {
  color: white;
  font-family: Aoboshi One;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.FB_form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.FB_form select {
  width: 100%;
  height: 40px;
  background-color: black;
  border: 1px solid #fbcc97;
  color: #fbcc97;
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  /* margin-left: 10px; */
  margin-right: 10px;
  outline: none;
  cursor: pointer;
}

.FB_form .FB_booknow {
  width: 100%;
  height: 40px;
  margin-top: 6px;
  margin-bottom: 36px;
  background-color: #fbcc97;
  border: 1px solid #fbcc97;
  color: black;
  font-family: Montserrat;
  font-size: 14px;
  cursor: pointer;
}

.FB_form .FB_booknow:hover {
  color: white;
  filter: drop-shadow(0px 0px 5px #ffffff);
  transition: 0.5s;
}